<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <iisnode 
      node_env="production"
      loggingEnabled="true" 
      devErrorsEnabled="true"
      stdoutLogEnabled="true"
      nodeProcessCommandLine="node" 
      watchedFiles="web.config;*.js;*.cjs"
    />
    <handlers>
      <add name="iisnode" path="startup.cjs" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="StaticContent">
          <action type="None" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="startup.cjs" />
        </rule>
      </rules>
    </rewrite>
    <directoryBrowse enabled="false" />
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
